<h4><i class="fa fa-th"></i> Manage albums</h4>
<nav>
      <ul class="nav">
        <li><%= link_to "Add new album",new_album_path%></li>
        <li><%= link_to "My albums",albums_path%></li>


      </ul>
</nav>
