<h4><i class="fa fa-th"></i> Manage Templates</h4>
<nav>
      <ul class="nav">
        <li><%= link_to "Add new template",new_etemplate_path%></li>
        <li><%= link_to "My templates",etemplates_path%></li>


      </ul>
</nav>
