<h4><i class="fa fa-th"></i> 模版设置</h4>
<nav>
      <ul class="nav">
        <li><%= link_to "新建模版",new_etemplate_path%></li>
        <li><%= link_to "我的模版",etemplates_path%></li>


      </ul>
</nav>
