<h4><i class="fa fa-th"></i> Manage kwords</h4>
<nav>
      <ul class="nav">
        <li><%= link_to "Add new kword",new_kword_path%></li>
        <li><%= link_to "My kwords",kwords_path%></li>


      </ul>
</nav>
