<h4><i class="fa fa-th"></i> Manage products</h4>
<nav>
      <ul class="nav">
        <li><%= link_to "Add new product",new_product_path%></li>
        <li><%= link_to "My products",products_path%></li>

        <li><%= link_to "Upload upcs",new_upc_path%></li>
         <li><%= link_to "My upcs",upcs_path%></li>



      </ul>
</nav>
