<h4><i class="fa fa-th"></i> Manage kwords</h4>
<nav>
      <ul class="nav">
        <li><%= link_to "Add new stock plan",new_xstockplan_path%></li>
        <li><%= link_to "My stock plans",xstockplans_path%></li>


      </ul>
</nav>
