<% provide(:title, 'New Etemplates') %>
<% provide(:button_text, 'Create my template') %>
<div class="row" >
  <aside class="col-md-3 albums_menu">
   <%= render 'shared/etemplate_menu' %>
  </aside>
  <div class="col-md-9">

    <div class="col-md-6 col-md-offset-2">
     <h1>Create Templates</h1>
      <%= render 'form' %>
    </div>

  </div>

</div>
