<% provide(:title, "Edit stock plan") %>
<% provide(:button_text, 'Save changes') %>
<div class="row">
  <aside class="col-md-3 albums_menu">
   <%= render 'shared/xstock_menu' %>
  </aside>
  <div class="col-md-9">
    <div class="col-md-9 col-md-offset-1">
 <h1>Edit stock plan</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
