<% provide(:title, 'New stock plan') %>
<% provide(:button_text, 'Create my stock plan') %>
<div class="row" >
  <aside class="col-md-3 albums_menu">
   <%= render 'shared/xstock_menu' %>
  </aside>
  <div class="col-md-9">

    <div class="col-md-6 col-md-offset-2">
     <h1>Create stock plan</h1>
      <%= render 'form' %>
    </div>

  </div>

</div>
