<% provide(:title, 'New albums') %>
<% provide(:button_text, 'Create my album') %>
<div class="row">
  <aside class="col-md-3 albums_menu">
   <%= render 'shared/album_menu' %>
  </aside>
  <div class="col-md-9">

    <div class="col-md-6 col-md-offset-2">
 <h1>Upload photo</h1>
    <section class="photo_form">
  <%= render 'shared/photo_form' %>
</section>
    </div>

  </div>

</div>
