<% provide(:title, 'New products') %>
<% provide(:button_text, 'Save changes') %>
<div class="row">
  <aside class="col-md-3 products_menu">
   <%= render 'shared/product_menu' %>
  </aside>
  <div class="col-md-9">
    <h1>Edit product</h1>


   <div class="row ">
  <%= render 'form'%>
     </div>


  </div>

</div>
